{% extends "base.html" %}


{% block content %}
<div class="body-content article_detail detail">
    <div class="article_detail_head">
        <a href="/article/edit?id={{article.id}}">编辑</a>

        <div class="title">
            <h2>
                <a href="/article?id={{article.id}}">{{article.title}}</a>
            </h2>
        </div>
        <p>{{article.author_id}} 发表于 {{article.created_time}}</p>
        <p>
            <small>Tags: {{article.tags}}</small>
        </p>
    </div>

    <div class="detail-body">{{article.raw_content|safe}}</div>
</div>
{% endblock %}