{% extends "base.html" %}


{% block content %}
<div class="body-content article_detail detail">
    <div class="article_detail_head">
        <a href="/article/edit?id={{id}}">编辑</a>

        <div class="title">
            <h2>
                <a href="/article?id={{id}}">{{title}}</a>
            </h2>
        </div>
        <p>{{author}} 发表于 {{created_time}}</p>
        <p>
            <small>Tags: {{tags}}</small>
        </p>
    </div>

    <div class="detail-body">{{content|escape("html")}}</div>
</div>
{% endblock %}