<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" href="https://portrait.gitee.com/uploads/avatars/user/567/1702445_Joeyscat_1605410941.png!avatar30" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
</head>

<body>
    <div id="header">
        <div class="header">

            <div class="logo left">
                <a href="/">
                    Joeyscat
                    <div style="clear:both;"></div>
                </a>
                <div style="clear:both;"></div>
            </div>
            <div class="signpart right">
                <!-- <a href="/search">Search</a> &nbsp; -->
                <a href="/account">帐户</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        Powered by <a href="https://www.rust-lang.org/">Rust</a>
        &nbsp;&&nbsp;<a href="https://github.com/poem-web/poem">Poem</a>
    </div>
</body>

</html>
