{% extends "base.html" %}

{% block content %}
<div class="body-content">
    <div class="action_area">
        <a class="right new-article" href="/article/publish">发布新文章</a>
    </div>

    <div class="section-body article-list">
        <ul>
            {% for article in article_list %}
            <li>
                <span class="left">
                    <a href="/article?id={{article.id}}" class="title left">{{article.title}}</a>
                    <small class="tags">&nbsp;&nbsp;{{article.tags}}</small>
                </span>
                <span class="right info">
                    <span class="author">{{article.author_name}}</span>
                    <span class="timestamp">{{article.created_time}}</span>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}